# build
*.js
*.js.map
*.d.ts

# include js scripts
!scripts/*.js

# include types
!**/types/*.d.ts

# include test and lint config
!jest.config.js
!vitest.config.js
!.eslintrc.js
!vitest.setup.d.ts

# npm
node_modules
npm_debug.log*

# vscode
.vscode

# idea
.idea
